<h3>Hello @__twitter_name__</h3>
<hr />
<form method="post">
    <table>
        <tr>
            <td valign="top">What`s happening?</td>
            <td><textarea name="message" rows="4" cols="75" class="input_area"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><small>(Twitter will trucate your tweet if your tweet size exceed 140 characters limit.)</small></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" name="post" value="Tweet" /></td>
        </tr>
    </table>
</form>
